# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Maven
target/
*.jar
!*-sources.jar
!*-javadoc.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Environment
.env
.claude/settings.local.json
nacos/
